<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BUYSELL Product Info</title>
    <meta charset="UTF-8">
</head>
<body>
<h1>BUYSELL: Информация о товаре</h1><hr>
<h4>Подробная информация о товаре</h4>
<b>Название товара: </b><span th:text="${product.title}">Название товара</span><br>
<b>Описание товара: </b><span th:text="${product.description}">Описание товара</span><br>
<b>Цена: </b><span th:text="${product.price}">Цена</span><br>
<b>Город: </b><span th:text="${product.city}">Город</span><br>
<b>Автор: </b><span th:text="${product.author}">Автор</span><br>
<hr>
<form th:action="@{/product/delete/{id}(id=${product.id})}" method="post">
    <input type="submit" value="Удалить товар"/>
</form>
</body>
</html>